h1
{
    font-size: 20px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: crimson;
    background-color: black;
}
body
{
    background-color: darkgreen;
}
img
{
    border-color: white;
    box-shadow: 3px cornsilk;
}
h2
{
    font-family: Arial, Helvetica, sans-serif;
    width: 150vw;
}
p{
    font-size: 2.4vw;
    width: 150vw;
}