th
{
    font-size: 32pt;
    border: 6px solid black;
    width: 250px;
    padding: 25px;
}
h1
{
    font-size: 32pt;
    border: 6px solid rgb(255, 0, 0);
    width: 250px;
    padding: 25px;
}
h2
{
    font-size: 20px;
    border: 4px solid rgb(255, 0, 0);
    width: 200px;
    padding: auto;
}
li
{
    font-size: 20px;
    border: 4px solid rgb(100, 0, 200);
    width: 200px;
    padding: auto;
}
td
{
    padding: 20px;
}
table
{
    border: 6px solid red;
}
caption
{
    font-size: 48pt;
    font-weight: bold;
    color:red
}
#tableheader
{
    text-decoration: wavy;
}
.tablerow
{
    color: aqua;
}
img
{
    font-size: 20px;
    border: 4px solid rgb(100, 0, 200);
    width: 200px;
    padding: auto;
}